[submodule "FEYNN_LABS_ML_INTERN_TASK-1"]
	path = FEYNN_LABS_ML_INTERN_TASK-1
	url = https://github.com/JahaganapathiSugumar/FEYNN_LABS_ML_INTERN_TASK-1.git
[submodule "FEYNN_LABS_ML_INTERN_TASK-2"]
	path = FEYNN_LABS_ML_INTERN_TASK-2
	url = https://github.com/JahaganapathiSugumar/FEYNN_LABS_ML_INTERN_TASK-2.git
